<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss/boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1027,253},{232,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss/boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{244,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1027,1},{244,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/enemyE1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{987,799},{92,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy/enemyE2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1490,511},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/enemyW1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1059,799},{92,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy/enemyW2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1559,435},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-0-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{296,56}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{299,835},{296,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-0-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{296,56}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{597,835},{296,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{296,74}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1,773},{296,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{296,74}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1273,1},{296,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{299,773},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1273,77},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{597,773},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1273,139},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1273,201},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1261,263},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-5-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1261,325},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1261,387},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-6-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1261,449},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1027,501},{296,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-7-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1089,501},{296,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1151,501},{296,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,849},{100,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcDead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{895,773},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1305,765},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcEShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1301,679},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcEShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1571,1},{68,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcEWalk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1391,743},{50,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcEWalk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1557,603},{50,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1562,507},{46,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1562,555},{46,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNEShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1559,349},{58,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNEShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{187,849},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1571,173},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1383,843},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{38,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1557,707},{38,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNWShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1205,817},{58,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNWShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1527,747},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{46,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1391,795},{46,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1213,765},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSEShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1398,511},{72,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSEShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1291,817},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1559,265},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,849},{40,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1398,585},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSWEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1131,799},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSWShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1388,637},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1387,691},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcWShootEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1213,679},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcWShootInit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1571,87},{68,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcWWalk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1557,655},{50,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcWWalk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1475,746},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,770}</string>
                <key>spriteSourceSize</key>
                <string>{1024,770}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1569,794},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1475,830},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playPause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{173,82}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{1213,595},{173,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitPause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{183,82}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{1213,511},{183,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skull/skull1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1490,583},{51,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skull/skull2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1490,636},{51,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>various/First-Aid-Kit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1480,689},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>various/ammo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{1569,747},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{1641,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14fb201ffd3362473001ba54c74b1b5:1a200739c0a0ccb940c3f3bdc71090ae:729b5d0704dd08312fe735435954a50e$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
