<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aisle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,768}</string>
                <key>spriteSourceSize</key>
                <string>{187,768}</string>
                <key>textureRect</key>
                <string>{{550,1106},{187,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss/boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{305,856},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss/boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{0,1106},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/enemyE1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/enemyE2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{600,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/enemyW1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/enemyW2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{400,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{250,1106},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-0-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{648,304},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-0-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{324,76},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{648,228},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{324,228},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{648,380},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{324,304},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{405,0},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{324,152},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{0,304},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-5-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{0,228},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{324,380},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-6-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{0,380},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{648,152},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-7-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/health-bar [www.imagesplitter.net]-7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,76}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{648,76},{324,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcDead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcEShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcEShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{400,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcEWalk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{400,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcEWalk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{700,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNEShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{600,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNEShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{800,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNWShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcNWShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{500,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSEShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{500,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSEShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{800,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{600,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{800,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSWShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcSWShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{600,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcWShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{400,456},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcWShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{700,556},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcWWalk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{700,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcWWalk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{500,656},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{80,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{130,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playPause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,250}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{555,856},{305,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitPause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,250}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{0,856},{305,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skull/skull1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{255,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skull/skull2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{180,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>various/First-Aid-Kit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{330,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>various/ammo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>various/bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{500,756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet-0.png</string>
            <key>size</key>
            <string>{972,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd9ae2a788d7ee635e6fe1c1387ad96:93a85ce2903d39ed12b699e0daaf6da0:3cb326787b2b4abc17c281ea5f019164$</string>
            <key>textureFileName</key>
            <string>spriteSheet-0.png</string>
        </dict>
    </dict>
</plist>
