<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entrance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1027,1},{1000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,512}</string>
                <key>spriteSourceSize</key>
                <string>{1024,512}</string>
                <key>textureRect</key>
                <string>{{1,771},{1024,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet-1.png</string>
            <key>size</key>
            <string>{2028,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7ef2c53948fcb8a548ba5fa5fd0c801:7074bc7cb952e2360e23adce315bb32f:9a74ee72b1a3ba2488dd464c8a38ea45$</string>
            <key>textureFileName</key>
            <string>spriteSheet-1.png</string>
        </dict>
    </dict>
</plist>
