<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>final_stage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1171,768}</string>
                <key>spriteSourceSize</key>
                <string>{1171,768}</string>
                <key>textureRect</key>
                <string>{{0,0},{1171,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1200}</string>
                <key>textureRect</key>
                <string>{{0,768},{1200,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet-2.png</string>
            <key>size</key>
            <string>{1200,1968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd9ae2a788d7ee635e6fe1c1387ad96:93a85ce2903d39ed12b699e0daaf6da0:3cb326787b2b4abc17c281ea5f019164$</string>
            <key>textureFileName</key>
            <string>spriteSheet-2.png</string>
        </dict>
    </dict>
</plist>
