<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aisle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,768}</string>
                <key>spriteSourceSize</key>
                <string>{187,768}</string>
                <key>textureRect</key>
                <string>{{1,1799},{187,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss/boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{244,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{771,773},{244,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,112}</string>
                <key>textureRect</key>
                <string>{{771,1025},{198,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,91}</string>
                <key>textureRect</key>
                <string>{{1367,1944},{200,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,773},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>final_stage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1171,768}</string>
                <key>spriteSourceSize</key>
                <string>{1171,768}</string>
                <key>textureRect</key>
                <string>{{1027,1},{1171,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{771,1174},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/healthBarBehind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{771,1944},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar/playerHpBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{296,60}</string>
                <key>spriteSourceSize</key>
                <string>{324,76}</string>
                <key>textureRect</key>
                <string>{{1069,1944},{296,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_character/pcE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{633,1988},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNEShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{855,2006},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNEShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{461,1988},{58,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{935,2006},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1988},{56,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{38,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1095,2006},{38,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNWShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1015,2006},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcNWShoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{547,1988},{58,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{277,1988},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSEShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{93,1988},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{771,2006},{40,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{369,1988},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_character/pcSWShoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{185,1988},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu-background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,770}</string>
                <key>spriteSourceSize</key>
                <string>{1024,770}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{719,1988},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{971,1127},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playPause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{173,82}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{1754,1944},{173,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitPause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{183,82}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{1569,1944},{183,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>various/bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{971,1025},{100,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteSheet-0.png</string>
            <key>size</key>
            <string>{1928,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07d1e6bf4471fa1d44c0d16790f9dd00:a8f64a6037f6bfe448ac0a57fdd62d99:9a74ee72b1a3ba2488dd464c8a38ea45$</string>
            <key>textureFileName</key>
            <string>spriteSheet-0.png</string>
        </dict>
    </dict>
</plist>
